@use "mixins" as *;
@use "variables" as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background-color: rgb(174, 181, 255); */
    background-image: linear-gradient(to bottom right, $bg-light, $bg-dark);
    color: $bg-b;
    font-family: $font-main;
    display: flex;
    justify-content: center;
}

h1 {
    text-align: center;
    font-size: 3rem;
    margin: 10px;
}

p {
    text-align: center;
    font-size: 1.5rem;
}

.content {
    background-color: $bg-w;
    border-radius: 40px;
    margin: 50px;
    padding: 40px;
    height: 100vh;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;

    header {
        margin-bottom: 100px;
    }

    main {
        input {
            padding: 10px;
            border-radius: 10px;
            width: 400px;
            margin-bottom: 40px;
            border: 1px solid $bg-b;
        }

        label {
            font-family: $font-main;

        }

        .btn {
            color: white;
            font-size: 2rem;
            width: 400px;
            height: 80px;
            border: none;
            box-shadow: 5px 5px 20px $bg-btn;
            cursor: pointer;
            border-radius: 20px;
            background-color: $bg-btn;
            font-family: $font-main;
        }

        .btn:hover {
            background-color: $bg-btn-hover;
            box-shadow: 2px 2px 30px $bg-btn;
        }
    }
}