@use "mixins" as *;
@use "variables" as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background-color: rgb(174, 181, 255); */
    background-image: linear-gradient(to bottom right, $bg-light, $bg-dark);
    color: $bg-b;
    font-family: $font-main;
    display: flex;
    justify-content: center;
    width: 100vw;
}

h1 {
    text-align: center;
    font-size: 3.2rem;
    margin: 15px;

    @include mobile {
        font-size: 2.8rem;
    }

    @include tablet {
        font-size: 3rem;
    }
}

h2 {
    text-align: center;
    font-size: 2rem;
    margin: 35px;

    @include mobile {
        font-size: 1.6rem;
    }

    @include tablet {
        font-size: 1.8rem;
    }
}

p {
    text-align: center;
    font-size: 1.5rem;

    @include mobile {
        font-size: 1.3rem;
    }

    @include tablet {
        font-size: 1.4rem;
    }
}

.quiz-container {
    background-color: $bg-w;
    border-radius: 40px;
    margin: 50px;
    padding: 40px;
    height: 100vh;
    min-height: 700px;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include mobile {
        margin: 20px;
        padding: 20px;
    }

    @include tablet {
        margin: 40px;
        padding: 40px;
    }

    header {
        margin-bottom: 100px;
    }

    main {
        #name {
            padding: 10px;
            border-radius: 10px;
            width: 400px;
            height: 30px;
            margin-bottom: 40px;
            border: 1px solid $bg-b;

            @include mobile {
                font-size: 1rem;
                width: 280px;
                margin-bottom: 10px;
            }

            @include tablet {
                font-size: 1.6rem;
                width: 350px;
                margin-bottom: 20px;
            }
        }

        #q {
            margin-bottom: 10px;
        }

        label {
            font-family: $font-main;

        }

        .btn.play {
            color: white;
            font-size: 2.3rem;
            width: 400px;
            height: 80px;
            border: none;
            box-shadow: 5px 5px 20px $bg-btn;
            cursor: pointer;
            border-radius: 20px;
            background-color: $bg-btn;
            font-family: $font-main;

            @include mobile {
                font-size: 1.7rem;
                width: 280px;
                height: 50px;
                border-radius: 10px;
            }

            @include tablet {
                font-size: 2rem;
                width: 350px;
                height: 50px;
            }
        }

        .btn.play:hover {
            background-color: $bg-btn-hover;
            box-shadow: 2px 2px 30px $bg-btn;
        }

        .btn.next {
            color: white;
            font-size: 1.7rem;
            width: 400px;
            height: 40px;
            border: none;
            margin-top: 50px;
            box-shadow: 5px 5px 20px $bg-btn;
            cursor: pointer;
            border-radius: 10px;
            background-color: $bg-btn;
            font-family: $font-main;

            @include mobile {
                font-size: 1.3rem;
                width: 280px;
                height: 30px;
                border-radius: 10px;
            }

            @include tablet {
                font-size: 1.5rem;
                width: 350px;
                height: 35px;
            }
        }

        .btn.next:hover {
            background-color: $bg-btn-hover;
            box-shadow: 2px 2px 30px $bg-btn;
        }
    }
}