@use "mixins" as *;
@use "variables" as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background-color: rgb(174, 181, 255); */
    background-image: linear-gradient(to bottom right, $bg-light, $bg-dark);
    color: $bg-b;
    text-align: center;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}

h1 {
    font-size: 5rem;
}

p {
    font-size: 2rem;
}

.content {
    background-color: $bg-w;
    border-radius: 40px;
    margin: 50px;
    padding: 40px;
    height: 100vh;
    display: flex;
    flex-direction: column;

    header {
        margin: 40px;
    }

    main {

        .btn {
            color: white;
            font-size: 3rem;
            width: 400px;
            height: 80px;
            border: none;
            box-shadow: 5px 5px 20px $bg-btn;
            cursor: pointer;
            border-radius: 20px;
            background-color: $bg-btn;
        }

        .btn:hover {
            background-color: $bg-btn-hover;
            box-shadow: 2px 2px 30px $bg-btn;
        }
    }
}