* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background-color: rgb(174, 181, 255); */
    background-image: linear-gradient(to bottom right, rgb(213, 217, 255), rgb(102, 105, 255));
    color: rgb(0, 0, 0);
    text-align: center;
}

h1 {
    font-size: 5rem;
}

.content {
    background-color: rgb(255, 255, 255);
    border-radius: 40px;
    margin: 50px;
    padding: 40px;
    height: 100vh;
}